<h1>Appointment with <%= @doctor.name %></h1>

<p><%= form_for [@user, @appointment] do |f| %>
<p><%= f.label :date %>
<%= f.date_select :day %></p>
<%= f.hidden_field :user_id, :value => @user.id %>
<p><%= f.label :doctor %>
  <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %></p>

<p><%= f.submit %></p>
<% end %></p>
