<h1>Appointment with <%= @doctor.name %></h1>

<p><%= form_for [@user, @appointment] do |f| %>
<p><%= f.label :date %>
<%= f.date_select :day %></p>
<%= f.hidden_field :user_id, :value => @user.id %>
<p><%= f.label 'Doctor' %>
  <%= select_tag 'Doctor', options_for_select(@doctors.collect {|doc| [doc.name, doc.id]} ) %>
</p>

<p><%= f.submit %></p>
<% end %></p>
