<h1>Upcoming Appointments for <%= @user.username %>: <%= @user.appointments.count %></h1>
<h3>Doctors Assigned to <%= @user.username %>: <%= @user.doctors.count %></h3>

<p><%= link_to 'New Appointment', new_user_appointment_path(@user) %></p>

<table>
  <th>
    <td><b>Doctor</b></td>
    <td><b>Date</b></td>
  </th>

  <% @appointments.each do |appointment| %>
  <tr>
    <td></td>
    <td><%= appointment.doctor.name %></td>
    <td><%= appointment.date %></td>
    <td> <%= link_to "Edit", edit_appointment_path(appointment) %></td>
  </tr>
  <% end %>
</table>
