<p><%= form_for [@user, @appointment] do |f| %>
<p><%= f.label :date %>
<%= f.date_field :date %></p>
<%= f.hidden_field :user_id, :value => @user.id %>
<p><%= label_tag 'Doctor' %>
  <%= f.collection_select(:doctor_id, Doctor.all, :id, :name) %>
</p>

<p><%= f.submit %></p>
<% end %></p>
