<p><%= form_for [@user, @appointment] do |f| %>
<p><%= f.label :date %>
<%= f.date_field :date %></p>
<%= f.hidden_field :user_id, :value => @user.id %>
<p><%= f.label :doctor_id %>
  <%= f.collection_select :doctor_id, Doctor.all, :id, :name, {:name => 'Doctor'} %>
</p>

<p><%= f.submit %></p>
<% end %></p>
